{% extends 'base.html' %}

{% load bootstrap4 %}

{% block head_title %}Создание игры | Easysport{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <h2>Создание игры</h2>
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            {% buttons %}
                                <div id="recommended_price"></div><br>
                                <input type="submit" value="Создать" class="btn btn-outline-primary">
                            {% endbuttons %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block media_last %}
    <script>
        function get_price() {
            var xhr = new XMLHttpRequest();

            // Last option.value of input #id_court it's id of court
            var options = id_court.getElementsByTagName('option');
            var court = options[options.length - 1].value;

            var duration = document.getElementById('id_duration').value;
            var game_capacity = document.getElementById('id_capacity').value;

            var args = "?court=" + court + "&duration=" + duration + "&game_capacity=" + game_capacity;

            xhr.open("GET", "{% url 'games:get_recommended_price' %}" + args, true);

            xhr.onreadystatechange = function () {
                if (this.readyState !== 4) return;
                document.getElementById("recommended_price").innerHTML = "Рекомендуемая цена: " + this.responseText;
            };
            xhr.send();
        }

        id_duration.onkeyup = get_price;
        id_capacity.onkeyup = get_price;
        id_court.onchange = get_price;
    </script>

    {{ form.media }}
{% endblock %}