{% extends 'base.html' %}

{% load game_extras %}
{% load user_extras %}

{% block head_title %}Игры{% endblock %}
{% block og_title %}Easysport - найди подходящую игру уже сегодня!{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 d-lg-none mb-4">
            <h1 class="text-center">Игры</h1>
        </div>
        <div class="col-lg-3">
            <h1 class="h2 d-none d-lg-block d-xl-block">Игры</h1>
            {% if perms.games.add_game %}
                <a class="btn btn-block btn-success mb-3" href="{% url 'games:create' %}">
                    <i class="fa fa-plus"></i> Создать игру
                </a>
            {% endif %}
            <form action="" method="GET" class="mb-4">
                <div class="input-group">
                    <select class="custom-select form-control" name="q" id="q">
                        <option value="all" {% if not q %}selected{% endif %}>Все виды спорта</option>

                        {% if user.is_authenticated %}
                            <option value="my" {% if q == 'my' %}selected{% endif %}>Мои игры</option>
                        {% endif %}
                        {% if user.is_authenticated and perms.games.change_game %}
                            <option value="need_report" {% if q == 'need_report' %}selected{% endif %}>
                            Требующие отчета
                            </option>
                            <option value="created" {% if q == 'created' %}selected{% endif %}>Созданные мной</option>
                        {% endif %}

                        {% for sport in sports %}
                            <option value="{{ sport.pk }}"
                                    {% if q == sport.pk|slugify %}selected{% endif %}>{{ sport }}</option>
                        {% endfor %}
                    </select>
                </div>
            </form>
            {% if not perms.games.add_game %}
                <a href="{% url 'users:obtain' %}" class="btn btn-info btn-block mb-4" style="white-space: normal;">Узнай, как добавить сюда свою
                    игру
                </a>
            {% endif %}
            <div class="card card-body mb-4 d-none d-sm-block">
                <p class="lead">Расскажи о нас</p>
                <div class="likely likely-big" data-title="Easysport - сообщество для любителей игровых видов спорта!">
                    <div class="facebook">Share</div>
                    <div class="twitter">Tweet</div>
                    <div class="vkontakte" data-description="Easysport - сообщество для любителей игровых видов спорта!">Share</div>
                    <div class="odnoklassniki">Like</div>
                    <div class="telegram" data-text="Easysport - сообщество для любителей игровых видов спорта!">Send</div>
                    <div class="whatsapp">Send</div>
                </div>
            </div>
            <div class="card card-body mb-4 d-none d-sm-block">
                <p class="lead">Поддержи проект</p>
                <iframe src="https://money.yandex.ru/quickpay/button-widget?targets=%D0%9F%D0%BE%D0%B4%D0%B4%D0%B5%D1%80%D0%B6%D0%B8%20EasySport!%20(%D0%BD%D0%B0%20%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D1%83%20%D1%81%D0%B5%D1%80%D0%B2%D0%B5%D1%80%D0%BE%D0%B2%20%D0%B8%20%D0%B4%D0%BE%D0%BC%D0%B5%D0%BD%D0%B0)&default-sum=100&button-text=11&yamoney-payment-type=on&button-size=m&button-color=orange&successURL=https%3A%2F%2Feasysport.online%2Fdonate%2Fthanks&quickpay=small&account=41001691643870&" width="227" height="48" frameborder="0" allowtransparency="true" scrolling="no"></iframe>
                <p class="small text-muted mb-0">EasySport - некоммерческий проект. С вашей поддержкой мы сможем предоставлять новый функционал и расширять выбор игр на портале быстрее!</p>
            </div>
        </div>
        <div class="col-lg-9">
            {% for message in messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>Внимание!</strong> {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}

            {% if object_list %}
                {% for game in object_list %}
                    {% game_card game=game user=user %}
                {% endfor %}
            {% else %}
                <div class="card bg-info">
                    <div class="card-body">
                        <h5 class="card-title">Список пуст.</h5>
                        <p class="card-text">
                            Создай свою, если уже получил право создания игр или пройди по
                            <a href="{% url 'users:obtain' %}">ссылке</a>, чтобы узнать, как стать организатором
                        </p>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block media_last %}
    <script>
        $(document).on('click', '.action', function (e) {
            var arr = $(this).attr("id").split('-');
            var game_id = arr[0], action = arr[1];
            {#$(this).parent().parent().parent().find('.btn').attr('disabled', true);#}
            $('#game-card-' + game_id).attr('style', 'opacity: 0.7;');
            $.ajax({
                url: '{% url "games:game_action" %}',
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    game_id: game_id,
                    action: action
                },
                async: true,
                success: function (responseData, textStatus) {
                    if (responseData['error']) {
                        alert(responseData['error']['error_description']);
                    } else {
                        $('#game-card-' + game_id).fadeOut('slow', function () {
                            $('#game-card-' + game_id).replaceWith(responseData);
                        });
                    }
                },
                error: function (response, status, errorThrown) {
                    alert('Все плохо, расскажите нам про эту ошибку \n\r\n\r' + response + status + errorThrown);
                    console.log(response);
                },
                type: "POST",
                dataType: "text"
            });
            e.preventDefault();
        });

        $(document).on('change', '#q', function () {
            var value = $('#q').val();
            if (value == 'all') {
                location.href = '/games';
            }
            else {
                location.href = '/games?q=' + value;
            }
        });
    </script>
{% endblock %}