{% extends 'base.html' %}

{% load bootstrap4 %}

{% block head_title %}{{ game }} | Easysport{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">
                <div class="card">
                    <div class="card-body text-center">
                        <h2>#{{ game.pk }}. {{ game.title }}.</h2>
                        <hr>
                        <p class="lead">
                            <i class="fas fa-check-circle fa-10x text-success"></i>
                            <br>
                            Отчет успешно отправлен
                        </p>
                        <a href="{% url 'games:copy_game' game.pk %}" class="btn btn-block btn-info">
                            Создать игру через 7 дней
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block media_last %}
    {{ form.media }}
{% endblock %}