{% extends 'base.html' %}

{% load game_extras %}

{% block content %}
    <div class="row">
        <div class="col-3">
            {% if perms.games.add_game %}
                <a class="btn btn-block btn-success" href="{% url 'games:create' %}">+создать игру</a>
                <br>
            {% endif %}
            <div class="card mb-4">
                <div class="card-body">
                    <p class="lead text-center">Игры</p>
                    <form action="" method="GET">
                        <div class="form-group">
                            <select class="custom-select form-control" name="sport">
                                <option value="all" {% if not q %}selected{% endif %}>Все виды спорта</option>
                                {% for sport in sports %}
                                    <option value="{{ sport.pk }}" {% if q == sport.id %}selected{% endif %}>{{ sport }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-outline-primary btn-block">Отфильтровать</button>
                    </form>
                </div>
            </div>
            <button class="btn btn-outline-info btn-block" style="white-space: normal;">Узнайте, как добавить сюда свою игру</button>
        </div>
        <div class="col-9">
            {% for game in object_list %}
                {% game_card game=game user=user %}
            {% endfor %}
        </div>
    </div>
{% endblock %}