{% extends 'base.html' %}

{% load game_extras %}

{% block content %}
    <div class="row">
        <div class="col-12 d-lg-none mb-4">
            <h1 class="text-center">Игры</h1>
        </div>
        <div class="col-lg-3">
            <h1 class="h2 d-none d-lg-block d-xl-block">Игры</h1>
            {% if perms.games.add_game %}
                <a class="btn btn-block btn-success" href="{% url 'games:create' %}">+создать игру</a>
                <br>
            {% endif %}
            <form action="" method="GET" class="mb-4">

                <div class="input-group">
                    <select class="custom-select form-control" name="sport">
                        <option value="all" {% if not q %}selected{% endif %}>Все виды спорта</option>
                        {% for sport in sports %}
                            <option value="{{ sport.pk }}" {% if q == sport.id %}selected{% endif %}>{{ sport }}</option>
                        {% endfor %}
                    </select>
                    <div class="input-group-append">
                        <button class="btn btn-info" type="submit">
                            <i class="fa fa-filter" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </form>
            {% if not perms.games.add_game %}
                <button class="btn btn-outline-info btn-block mb-4" style="white-space: normal;">Узнайте, как добавить сюда свою игру</button>
            {% endif %}
        </div>
        <div class="col-lg-9">
            {% for game in object_list %}
                {% game_card game=game user=user %}
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block media_last %}
<script>
    $(document).on('click', '.action', function (e) {
        var arr = $(this).attr("id").split('-');
        var game_id = arr[0], action = arr[1];
        {#$(this).parent().parent().parent().find('.btn').attr('disabled', true);#}
        $('#game-card-' + game_id).attr('style', 'opacity: 0.7;');
        console.log(game_id);
        console.log(action);
        $.ajax({
            url: '{% url "games:game_action" %}',
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                game_id: game_id,
                action: action
            },
            async: true,
            success: function (responseData, textStatus) {
                if (responseData['error']) {
                    alert(responseData['error']['error_description']);
                } else {
                    $('#game-card-' + game_id).fadeOut('slow', function () {
                        $('#game-card-' + game_id).replaceWith(responseData);
                    });
                }
            },
            error: function (response, status, errorThrown) {
                alert('Все плохо, расскажите нам про эту ошибку \n\r\n\r' + response + status + errorThrown);
                console.log(response);
            },
            type: "POST",
            dataType: "text"
        });
        e.preventDefault();
    });
</script>
{% endblock %}