{% extends 'base.html' %}

{% load game_extras %}

{% block content %}
<div class="row">
    <div class="col-3">
        <div class="card card-body">
            <p class="lead">Расскажите друзьям о нас</p>
        </div>
    </div>
    <div class="col-9">
        {% game_card game=object user=user %}
    </div>
</div>
{% endblock %}

{% block media_last %}
<script>
    $(document).on('click', '.action', function (e) {
        var arr = $(this).attr("id").split('-');
        var game_id = arr[0], action = arr[1];
        {#$(this).parent().parent().parent().find('.btn').attr('disabled', true);#}
        $('#game-card-' + game_id).attr('style', 'opacity: 0.7;');
        console.log(game_id);
        console.log(action);
        $.ajax({
            url: '{% url "games:game_action" %}',
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                game_id: game_id,
                action: action
            },
            async: true,
            success: function (responseData, textStatus) {
                if (responseData['error']) {
                    alert(responseData['error']['error_description']);
                } else {
                    $('#game-card-' + game_id).fadeOut('slow', function () {
                        $('#game-card-' + game_id).replaceWith(responseData);
                    });
                }
            },
            error: function (response, status, errorThrown) {
                alert('Все плохо, расскажите нам про эту ошибку \n\r\n\r' + response + status + errorThrown);
                console.log(response);
            },
            type: "POST",
            dataType: "text"
        });
        e.preventDefault();
    });
</script>
{% endblock %}
