www.{$DOMAIN_NAME} {
  redir https://{$DOMAIN_NAME}
}

{$DOMAIN_NAME} {
  tls harchenko.grape@gmail.com
  header / Strict-Transport-Security "max-age=31536000;"

  root /

  proxy / web:8000 {
    except /static /media

    transparent
  }

  log stdout
  errors stdout
  gzip
}