//// Your variable overrides
//$brand-primary:         #2A4C69 !default; // #337ab7
//$brand-success:         #1d872e !default;
//$brand-info:            #42B4C4 !default;
//$brand-warning:         #D3833F !default;
//$brand-danger:          #D3443C !default;
//
$body-bg:               #FAF6F3 !default;

$theme-colors: (
  "red":        #DB2F16,
  "dark-blue":  #312F3C
);

// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.


//
// Color system
//

$primary:       #428BCA !default;
$success:       #5CB85C !default;
$info:          #5BC0DE !default;
$warning:       #F0AD4E !default;
$danger:        #D9534F !default;

$font-family-sans-serif: 'Rubik', sans-serif, !default;

