//// Your variable overrides
//$brand-primary:         #2A4C69 !default; // #337ab7
//$brand-success:         #1d872e !default;
//$brand-info:            #42B4C4 !default;
//$brand-warning:         #D3833F !default;
//$brand-danger:          #D3443C !default;
//
$body-bg:               #eae2db !default;

$theme-colors: (
  "red": #c23429
);

// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.


//
// Color system
//

$primary: #006bd6 !default;
//$success:       #1d872e !default;
//$info:          #42B4C4 !default;
//$warning:       #D3833F !default;
//$danger:        #D3443C !default;
