{% extends 'base.html' %}

{% load user_extras %}
{% load staticfiles %}

{% block head_title %}Как стать организатором?{% endblock %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1 class="text-center pb-4">Хотите стать организатором?</h1>
        <h3>Что такое EasySport</h3>
        <p class="lead">EasySport - некоммерческий проект, призванный помочь любителям спорта самоорганизовываться для игр в командных видах: воллейболе, баскетболе, футболе и т.п.</p>

        <p>Наше сообщество постоянно растет и предоставляет с каждым днем все больше возможностей для спортивного досуга.</p>

        <p>Естественно, EasySport нуждается в людях, которые возьмут на себя ответственность за договоренности с площадками и сбор денег с игроков.</p>

        <p>За время работы мы тщательно разобрались в проблемах, которые волнуют организаторов игр. Они:</p>
        <ul>
            <li>часто сталкиваются с проблемой недобора людей</li>
            <li>устают от неорганизованного контроля людей в чатах и по смс</li>
            <li>имеют проблемы с подсчетами денег и непостоянным ценникоом</li>
        </ul>

        <p>Наш сервис призван решить эти проблемы. EasySport:</p>
        <ul>
            <li>возьмет на себя всю головную боль, связанную с набором игроков</li>
            <li>ваши игры увидят сотни заинтересованных людей</li>
            <li>автоматизация упростит процесс набора и контроля игроков до пары кликов</li>
        </ul>

        <hr class="mt-5">

        <h3>Предъявляемые требования</h3>
        <p>У нашего проекта есть ряд простых требований, которые мы предъявляем к организаторам перед тем, как они получат доступ к работе с платформой.</p>

        <p><b>1. Только полный набор игроков. Говорим нет доборам.</b></p>
        <p>Что это значит? Если вы собираетесь организовать игру в волейбол, для которого на площадку нужно собрать 12 человек, то через сайт должны набираться все 12 мест.</p>

        <p>Для чего так делается? Для прозрачности в условиях работы портала и отсутствия недопонимания со стороны игроков.</p>

        <p><b>2. Работа по постоянной цене для посетителей игры.</b></p>

        <p>Цена посещения игры не должна зависеть от того, сколько людей посетили игру. Допустим, цена игры на сайте - 200 рублей при 12 вакантных местах. Даже если на игру пришло 10 человек или даже 8, стоимость должна оставаться прежней. Данное правило соответствует принципам прозрачности и постоянства, которые преследует наш портал.</p>

        <p>Вы как организатор можете задать себе вопрос: как я могу застраховать себя от недобора игроков и потери денег? На этот случай нашей платформой рекомендуется оптимальная цена игры, включающая достаточную наценку и дающая вам возможность заранее наверстать возможные потери и стабильно зарабатывать на проведении игр. А мы сделаем все возможное, чтобы держать высокий спрос на любые игры.</p>

        <p><b>3. Будьте на связи и оставайтесь дружелюбными.</b></p>

        <p>Также у вас как у организатора должны быть добавлены актуальный, открытый для публичного просмотра номер телефона, аватар и привязаны все соцсети. Это обеспечивает доверие со стороны пользователей и позволяет новичкам безболезненно вливаться в комьюнити.</p>

        <hr class="mt-5">

        <h3>Что делать дальше?</h3>

        <p>Для начала ваш профиль должен соответствовать формальным требованиям, описанным выше. Пройдите три простых шага:</p>

        <p><b>1. Войдите на сайт</b></p>
        {% if not user.is_authenticated %}
            <p>
                <a href="{% url 'users:signup' %}" class="btn btn-main btn-lg btn-success">Зарегистрируйтесь</a>
                или
                <a href="{% url 'users:login' %}?next={{request.path}}" role="button" class="btn btn-main btn-lg btn-primary">Войдите</a>
            </p>
        {% else %}
            <p>Вы уже авторизованы</p>

            <p><b>2. Заполните профиль</b></p>

            <p>На данный момент вы выполнили следующие условия:</p>

            <ul class="list-group pb-4">
                <li class="list-group-item list-group-item-{% if user.first_name %}success{% else %}danger{% endif %}">указали имя и фамилию</li>
                <li class="list-group-item list-group-item-{% if user.city %}success{% else %}danger{% endif %}">указали город (Екатеринбург)</li>
                <li class="list-group-item list-group-item-{% if user.phone %}success{% else %}danger{% endif %}">указали мобильный телефон</li>
                <li class="list-group-item list-group-item-{% if not user.phone_privacy %}success{% else %}danger{% endif %}">телефон в публичном доступе</li>
                <li class="list-group-item list-group-item-{% if user.avatar %}success{% else %}danger{% endif %}">добавлен аватар</li>
            </ul>

            {% if user.first_name and user.city and user.phone and not user.phone_privacy and user.avatar %}
                <p><b>3. Отправляйте заявку на модерацию</b></p>
                <a href="{% url 'users:obtain_wait' %}" class="btn btn-success btn-lg">Отправить заявку</a>
            {% else %}
                <a href="{% url 'users:update' %}" class="btn btn-warning btn-lg">Отредактируй свой профиль</a>
            {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}