{% extends 'base.html' %}

{% load bootstrap4 %}

{% block head_title %}Редактирование профиля | Easysport{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6">
                <div class="card">
                    <div class="card-body pb-1">
                        <h2>Редактирование профиля</h2>
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            {% buttons %}
                                <input type="submit" value="Сохранить" class="btn btn-outline-primary">
                            {% endbuttons %}
                        </form>
                    </div>
                </div>
                <div class="card my-3">
                    <div class="card-body">
                        <h2>Смена пароля</h2>
                        <p class="card-text pt-2"><a href="{% url 'users:password' %}" class="btn btn-outline-primary">Сменить пароль</a></p>
                    </div>
                </div>
                <div class="card my-3">
                    <div class="card-body">
                        <h2>Социальные сети</h2>

                        <p class="card-text">
                            {% if vk_login %}
                                <p>
                                    <i class="fab fa-vk text-primary"></i>
                                    <a href="https://vk.com/id{{ vk_login.uid }}" target="_blank">
                                        {% if vk_login.extra_data.screen_name %}
                                            {{ vk_login.extra_data.screen_name }}
                                        {% else %}
                                            id{{ vk_login.uid }}
                                        {% endif %}
                                    </a>
                                    {% if can_disconnect %}
                                        <form class="form-inline" method="post" action="{% url 'social:disconnect' 'vk-oauth2' %}">
                                            {% csrf_token %}
                                            <a class="btn btn-link" type="submit">Открепить профиль</a>
                                        </form>
                                    {% endif %}
                                </p>
                            {% else %}
                                <p><a href="{% url 'social:begin' 'vk-oauth2' %}">+ связать свой аккаунт с вконтакте</a></p>
                            {% endif %}
                            {% if fb_login %}
                                <p>
                                    <i class="fab fa-vk text-primary"></i>
                                    <a href="https://facebook.com/profile.php?id={{ fb_login.uid }}" target="_blank">
                                        {% if fb_login.extra_data.screen_name %}
                                            {{ fb_login.extra_data.screen_name }}
                                        {% else %}
                                            id{{ fb_login.uid }}
                                        {% endif %}
                                    </a>
                                    {% if can_disconnect %}
                                        <form class="form-inline" method="post" action="{% url 'social:disconnect' 'facebook' %}">
                                            {% csrf_token %}
                                            <a class="btn btn-link" type="submit">Открепить профиль</a>
                                        </form>
                                    {% endif %}
                                </p>
                            {% else %}
                                <p><a href="{% url 'social:begin' 'facebook' %}">+ связать свой аккаунт с Facebook</a></p>
                            {% endif %}
                            {% if not can_disconnect %}
                                <br><span class="text-danger">Вы должны <a href="{% url 'users:password' %}">указать пароль</a>
                                    для своего аккаунта прежде чем отключиться от VK</span>
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}