{% extends 'base.html' %}

{% load user_extras %}
{% load staticfiles %}

{% block head_title %}{{ current_user }}{% endblock %}
{% block og_title %}{{ current_user }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 col-md-4">
            <img class="img-fluid img-thumbnail" alt="Avatar"
                 src="{% if current_user.avatar %}{{ current_user.avatar.url }}
                 {% elif current_user.sex == 'm' %}
                    {% static 'img/avatars/blank_male.jpg' %}
                 {% else %}
                    {% static 'img/avatars/blank_female.jpg' %}
                 {% endif %}">
        </div>
        <div class="col-12 col-md-8">
            <div class="card">
                <div class="card-body">
                    <h1>{{ current_user }}</h1>
                    {% for group in current_user.groups.all %}
                        <!--TODO: add link for description about responsible-->
                        <a href="" class="badge badge-success badge-pill">{{ group }}</a>
                    {% endfor %}

                    {% if not user == current_user %}
                        <p>
                            <small>
                                Последний раз заходил{% ifequal current_user.sex 'f' %}a{% endifequal %}
                                : {{ current_user.last_login }}
                            </small>
                        </p>
                    {% else %}
                        <p>
                            <a href="{% url 'users:update' %}">
                                <i class="fa fa-pencil"></i>Редактировать
                            </a>
                        </p>
                    {% endif %}

                    {% if current_user.get_vk_login %}
                        <p>
                            <a href="https://vk.com/id{{ current_user.get_vk_login.uid }}" target="_blank">
                                <i class="fab fa-vk"></i>
                                {% if current_user.get_vk_login.extra_data.screen_name %}
                                    {{ current_user.get_vk_login.extra_data.screen_name }}
                                {% else %}
                                    id{{ current_user.get_vk_login.uid }}
                                {% endif %}
                            </a>
                        </p>
                    {% endif %}

                    {% if current_user.get_fb_login %}
                        <p>
                            <a href="https://facebook.com/profile.php?id={{ current_user.get_fb_login.uid }}" target="_blank">
                                <i class="fab fa-facebook-f"></i>
                                {% if current_user.get_fb_login.extra_data.screen_name %}
                                    {{ current_user.get_fb_login.extra_data.screen_name }}
                                {% else %}
                                    id{{ current_user.get_fb_login.uid }}
                                {% endif %}
                            </a>
                        </p>
                    {% endif %}

                    <p>
                        {% if current_user.bdate %}
                            {{ current_user.bdate|beauty_age }}
                        {% endif %}
                        {% if current_user.city and current_user.bdate %}, {% endif %}
                        {% if current_user.city %}{{ current_user.city }}{% endif %}

                    {% if current_user.weight %}<p>Вес: {{ current_user.weight }} кг</p>{% endif %}
                    {% if current_user.height %}<p>Рост: {{ current_user.height }} см</p>{% endif %}
                    </p>

                    {% if not current_user.phone_privacy and user.is_authenticated %}
                        <p>Телефон: {{ current_user.phone }}</p>
                    {% else %}
                        <p>Телефон: скрыт</p>
                    {% endif %}

                    {% if current_user.sport_types.all %}
                        <p class="mb-0">Виды спорта:</p>
                        <ul>
                        {% for type in current_user.sport_types.all %}
                            <li>{{ type }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}

                    {% if current_user.amplua.all %}
                        <p class="mb-0">Амплуа:</p>
                        <ul>
                        {% for amplua in current_user.amplua.all %}
                            <li>{{ amplua }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
            {% if current_user.visited_list.count > 0 %}
                <div class="card mt-3">
                    <div class="card-body">
                        <p class="lead">Последние посещенные игры:</p>
                        <table class="table table-hover table-responsive table-striped">
                            <tr class="active">
                                <td>№ игры</td>
                                <td>Дата</td>
                                <td>Название</td>
                                <td>Тип игры</td>
                                <td>Площадка</td>
                                <td>Время на площадке</td>
                            </tr>
                            {% for usergameaction in current_user.visited_list %}
                                <tr>
                                    <td><a href="{% url 'games:detail' usergameaction.game.pk %}" target="_blank"># {{ usergameaction.game.pk }}</a></td>
                                    <td>{{ usergameaction.game.datetime }}</td>
                                    <td>{{ usergameaction.game.title }}</td>
                                    <td>{{ usergameaction.game.gametype.sport_type }}</td>
                                    <td><a href="{% url 'courts:detail' usergameaction.game.court.pk %}" target="_blank">{{ usergameaction.game.court }}</a></td>
                                    <td>{{ usergameaction.game.duration }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}