{% extends 'base.html' %}

{% load user_extras %}
{% load staticfiles %}

{% block head_title %}{{ current_user }} | Easysport{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 col-md-4">
            <img class="img-fluid img-thumbnail" alt="Avatar"
                 src="{% if current_user.avatar %}{{ current_user.avatar.url }}
                 {% elif current_user.sex == 'm' %}
                    {% static 'img/avatars/blank_male.jpg' %}
                 {% else %}
                    {% static 'img/avatars/blank_female.jpg' %}
                 {% endif %}">
        </div>
        <div class="col-12 col-md-8">
            <div class="card">
                <div class="card-body">
                    <h1>{{ current_user }}</h1>
                    {% for group in current_user.groups.all %}
                        <!--TODO: add link for description about responsible-->
                        <a href="" class="badge badge-success badge-pill">{{ group }}</a>
                    {% endfor %}

                    {% if not user == current_user %}
                        <p>
                            <small>
                                Последний раз заходил{% ifequal current_user.sex 'f' %}a{% endifequal %}
                                : {{ current_user.last_login }}
                            </small>
                        </p>
                    {% else %}
                        <p>
                            <a href="{% url 'users:update' %}">
                                <i class="fa fa-pencil"></i>Редактировать
                            </a>
                        </p>
                    {% endif %}

                    <p>
                        {% if current_user.bdate %}
                            {{ current_user.bdate|beauty_age }}
                        {% endif %}
                        {% if current_user.city and current_user.bdate %}, {% endif %}
                        {% if current_user.city %}{{ current_user.city }}{% endif %}

                    {% if current_user.weight %}<p>Вес: {{ current_user.weight }} кг</p>{% endif %}
                    {% if current_user.height %}<p>Рост: {{ current_user.height }} см</p>{% endif %}
                    </p>

                    {% if not current_user.phone_privacy and request.user.pk or request.user|can_see_phone %}
                        <p>Телефон: {{ current_user.phone }}</p>
                    {% else %}
                        <p>Телефон скрыт</p>
                    {% endif %}

                    {% if current_user.sport_types.all %}
                        <b>Виды спорта:</b> <br>
                        {% for type in current_user.sport_types.all %}
                            {{ type }}<br>
                        {% endfor %}
                        <br>
                    {% endif %}

                    {% if current_user.amplua.all %}
                        <b>Амплуа:</b> <br>
                        {% for amplua in current_user.amplua.all %}
                            {{ amplua }}<br>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}