{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-12 d-lg-none mb-4">
            <h1 class="text-center">Площадки</h1>
        </div>
        <div class="col-lg-3">
            <h1 class="h2 d-none d-lg-block d-xl-block">Площадки</h1>
            {% if perms.courts.add_court %}
                <div class="btn btn-block btn-success mb-3">+ Создать площадку</div>
            {% endif %}
            <form method="GET" class="mb-4">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Поиск по названию"
                           aria-label="Поиск по названию" name="q" value="{{ q }}">
                    <div class="input-group-append">
                        <button class="btn btn-info" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-9">
            <div class="card-columns">
                {% for court in object_list %}
                    <div class="card">
                        <img class="card-img-top" src="{{ court.photo.url }}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{% url 'courts:detail' court.pk %}">{{ court }}</a>
                            </h5>
                            <p class="card-text small">{{ court.place.address }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}